:root {
  --white: #ffffff;
  --black: #18300a;
  --gray: #a5a5a5;
  --blue: #3b74f3;
  --green-900: #207b00;
  --green-100: #c6ffa7;
  --red-900: #eb4d4b;
  --red-100: #ff7979;
  --background: #d0d9e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 81.25%;
  }
}

body {
  background: var(--background);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea {
  font: 400 1rem "Poppins", sans-serif;
}

a {
  text-decoration: none;
  transition: filter 200ms;
}

a:hover {
  text-decoration: underline;
  filter: brightness(0.9);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: filter 400ms;
}

button:hover {
  filter: brightness(0.9);
}